<!DOCTYPE html>
<html lang="ru" class="no-js" xmlns="http://www.w3.org/1999/xhtml">
<head>
     <title>{% block title %}Кейсы{% endblock %}</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.Case_Name }}<br>
        {{ form.Case_Comment }}<br>
        {{ form.Case_Title }}<br>
        {{ form.Case_Location }}<br>
        {{ form.Case_Type_of_activity }}<br>
        {{ form.Case_Production }}<br>
        {{ form.Case_Date }}<br>
        <span>{{ error }}</span>
        <button type="submit">Сохронить</button>
    </form>
</body>
</html>
