<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<h1> Подсчет экономической эффективности предприятия </h1>
<p>Нажмите на кнопку</p>
<input type="button" value="Кликни меня" onclick="showMessage()">
<script>
    function showMessage(){
        alert("Вы кликнули на кнопку!")
    }
</script>
<img width="25%" height="25%" src="https://img-fotki.yandex.ru/get/5014/43968620.4/0_5e8f8_44397854_XXXL.jpg">
<a href="{%url 'case:case' %}">Кейсы</a>
</body>
</html>