<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block title %}<title>Главная страница</title>{% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block description %}
    <meta name="description"
          content="Система по экономической безопасности или эффективности."/>
    {% endblock %} <!-- для поиска в инете (теги)-->
    {% block keywords %}
		<meta name="keywords"
              content="система, экономическая безопасность,
              экономическая эффективность, производственное предприятие" />
	{% endblock %} <!-- для поиска в инете -->
    {% load static %}
	<link rel="stylesheet" href="{% static 'styles/main.css' %}" type="text/css" />
    <script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
<h1> Подсчет экономической эффективности предприятия </h1>
<p>Нажмите на кнопку</p>
<input type="button" value="Кликни меня" onclick="showMessage()">
<script>
    function showMessage(){
        alert("Вы кликнули на кнопку!")
    }
</script>
<img width="25%" height="25%" src="https://img-fotki.yandex.ru/get/5014/43968620.4/0_5e8f8_44397854_XXXL.jpg">
<a href="{%url 'case' %}">Кейсы</a>
</body>
</html>