<!DOCTYPE html>
<html lang="ru" class="no-js" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Параметры</title>
</head>
<body>
    <div id="content">
        <ul>
            <table border="1">
                <tr>
                    <th>Название параметра</th>
                    <th>Комментарий</th>
                    <th>Имя переменной</th>
                    <th>Формула</th>
                    <th>Знаечние</th>
                </tr>
                {% for p in parametr %}
                <tr>
                    <td>{{p.Param_Name}}</td>
                    {% if p.Param_Comment == "" %}
                        <th>-</th>
                    {% else %}
                        <td>{{p.Param_Comment}}</td>
                    {% endif %}
                    <td>{{p.Name_Variable}}</td>
                    <td>{{p.Formula}}</td>
                    {% if p.Param_Value != None %}
                        <td>{{p.Param_Value}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </ul>
    </div>
</body>
</html>